<%- include('partials/_header') -%>

    <div class="tm-welcome-container text-center text-white">
        <div class="tm-welcome-container-inner">
            <p class="tm-welcome-text mb-1 text-white">Video Catalog is brought to you by TemplateMo.</p>
            <p class="tm-welcome-text mb-5 text-white">This is a full-width video banner.</p>
            <a href="#content" class="btn tm-btn-animate tm-btn-cta tm-icon-down">
                <span>Discover</span>
            </a>
        </div>
    </div>



    <div id="tm-video-container">
        <video autoplay muted loop id="tm-video">
            <!-- <source src="video/sunset-timelapse-video.mp4" type="video/mp4"> -->
            <source src="video/wheat-field.mp4" type="video/mp4">
        </video>
    </div>

    <i id="tm-video-control-button" class="fas fa-plus"></i>
    </div>

    <div class="container">
        <div class="row row-cols-1 row-cols-md-3 g-4 py-3">

            <% for (let i=0; i < photos.length; i++) { %>
                <div class="col">
                    <div class="card">
                        <a href="/photos/<%= photos[i]._id %>">
                            <img src="<%= photos[i].image %>" class="card-img-top" alt="Hollywood Sign on The Hill" />
                        </a>

                        <div class="card-body">
                            <h5 class="card-title">
                                <%= photos[i].title %>
                            </h5>
                            <p class="card-text">
                                <%= photos[i].description %>
                            </p>
                        </div>
                    </div>
                </div>
                <% } %>
        </div>
        <!-- Catalog Paging Buttons -->
        <div>
            <% if (pages> 0) { %>
                <ul class="nav tm-paging-links">
                    <% for (i=1; i <=pages; i++) { %>
                        <% if (i==current) { %>
                            <li class="nav-item active"><a href="/?page=<%= i %>" class="nav-link tm-paging-link">
                        <%= i %>
                            </a></li>
                        <% } else if (i < pages) { %>
                            <li class="nav-item"><a href="/?page=<%= i %>" class="nav-link tm-paging-link">
                        <%= i %>
                            </a></li>
                        <% } else { %>
                            <li class="nav-item"><a href="/?page=<%= i %>" class="nav-link tm-paging-link">></a>
                            </li>
                        <% } %>
                    <% } %>
                </ul>
            <% } %>
        </div>
    </div>
    <%- include('./partials/_footer') -%>





    